<h2>Zaloguj się</h2>
<form action="/login" method="post">
    <label>
        Email:
        <input type="text" name="email" min="5" max="15">
    </label>
    <label>
        Hasło:
        <input type="password" name="password" min="3" max="10">
    </label>
    <button type="submit">Zaloguj się</button>
</form>

<a href="/register/newUser">Zarejestruj się</a>