<h2>Stwórz użytkownika</h2>
<form action="/register" method="post">
    <label>
        Imię:
        <input type="text" name="name" minlength="3" maxlength="50">
    </label>
    <label>
        email:
        <input type="text" name="email" min="5" max="15">
    </label>
    <label>
        Hasło:
        <input type="password" name="password" min="3" max="10">
    </label>
    <button type="submit">Zarejestruj</button>
</form>