<h2>Stwórz ogłoszenie</h2>
<form action="/offer" method="post">
    <label>
        Nazwa przedmiotu:
        <input type="text" name="nameOfProduct" minlength="3" maxlength="50">
    </label>
    <label>
        Cena:
        <input type="number" name="price" value="1" min="1" max="999999">
    </label>
    <label>
        Ilość:
        <input type="number" name="amount" value="1" min="1" max="99999">
    </label>
    <label>
        Stan:
        <label>Nowy <input type="checkbox" name="condition" value="nowy"></label>
        <label>Używany <input type="checkbox" name="condition" value="używany"></label>
    </label>
    <label>
        Opis:
        <input type="text" name="description" min="1" max="100">
    </label>
    <button type="submit">Stwórz</button>
</form>